header{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header h1{
    color: yellow;
}

header a{
    color: white;
}

.titulo{
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    
}

.div-list ul {
    display: flex;
    gap: 15px;

}

.section-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    gap: 30px;
    padding: 80px;
}

.section-01 img{
    width: 500px;
    height: 400px;
}